<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FeatureFlagSample"
        tools:targetApi="31">
        <activity
            android:name=".posthog.PostHogActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="PostHog" />
        </activity>
        <activity
            android:name=".apptimize.ApptimizeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="Apptimize" />
        </activity>
        <activity
            android:name=".optimizely.OptimizelyActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="Optimizely" />
        </activity>
        <activity
            android:name=".flagsmith.FlagSmithActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="Flag Smith" />
        </activity>
        <activity
            android:name=".config_cat.ConfigCatActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="Config Cat" />
        </activity>
        <activity
            android:name=".firebase_config.FirebaseConfigActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="Firebase Config" />
        </activity>
        <activity
            android:name=".split.SplitActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="Split" />
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".launchdarkly.LaunchDarklyActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="LaunchDarkly" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>